.container {
  width: 4.5rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: var(--cyan-200);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.container:hover {
  background-color: var(--cyan-500);
}

.container svg {
  stroke: var(--cyan-700);
}

.container:hover svg {
  stroke: var(--cyan-100);
}
